<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools">

    <!--
 This library gets override because the shared_anonaddy library implements this library but in practice
         It only gets used on the WearOS module
    -->
    <uses-sdk tools:overrideLibrary="com.google.android.horologist.compose.layout,
androidx.wear.compose.*,
androidx.wear.tiles.*,
androidx.wear.protolayout.*
" />

</manifest>