<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="host.stjin.anonaddy">

    <!-- Required to act as a custom watch face. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Required for complications to receive complication data and open the provider chooser. -->
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="host.stjin.anonaddy_shared.AnonAddyForAndroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".watchface.AnonAddyWatchFace"
            android:directBootAware="true"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <!--
            By default, Watchfaces on rectangular devices will be run in a emulation mode where they
            are provided a square surface to draw the watchface (allows watchfaces built for
            circular and square devices to work well).

            For this watchface, we explicitly enable rectangular devices, so we get the complete
            surface.
            -->
            <meta-data
                android:name="android.service.wallpaper.square_mode"
                android:value="false" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_digital_api_watchface" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_digital_api_watchface_circular" />
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <activity
            android:name=".ui.alias.ManageAliasActivity"
            android:exported="true"
            android:label="@string/edit_alias"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.alias.CreateAliasActivity"
            android:exported="true"
            android:label="@string/add_alias"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.alias.AliasActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />

        <service
            android:name=".tiles.FavoriteAliasesTileService"
            android:description="@string/app_name"
            android:exported="true"
            android:icon="@drawable/ic_email_at"
            android:label="@string/tile_favorite_aliases_label"
            android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter>
                <action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" />
            </intent-filter>

            <meta-data
                android:name="androidx.wear.tiles.PREVIEW"
                android:resource="@drawable/favorite_aliases_tile" />
        </service>
        <service
            android:name=".service.WearableListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/setup"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/start"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/reset"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/showAlias"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SetupActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>