<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="host.stjin.anonaddy">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="host.stjin.anonaddy_shared.AnonAddyForAndroid"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SplashTheme">
        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />
        <activity
            android:name=".ui.alias.ManageAliasActivity"
            android:exported="false"
            android:label="@string/title_activity_manage_alias"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />

        <service
            android:name=".service.WearableListenerService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

                <data
                    android:host="*"
                    android:pathPrefix="/setup"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/start"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/reset"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SetupActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
    </application>

</manifest>