<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="host.stjin.anonaddy">


    <!-- This library gets override because the shared_anonaddy library implements this library but in practice
         It only gets used on the WearOS module -->
    <uses-sdk tools:overrideLibrary="androidx.wear.compose.material, androidx.wear.compose.foundation" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- BLOCK -->
    <!--
    &lt;!&ndash; Used for scanning the API key &ndash;&gt;
        <uses-permission android:name="android.permission.CAMERA" />
        &lt;!&ndash;
          Include all the "features" under the camera permission,
          and mark them all as optional.
        &ndash;&gt;
        <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />
        <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    -->
    <!-- END BLOCK -->


    <!--
    Starting from Android 11, we need to query to packages with mailto: mailscheme
    This is being used in the ManageAliasActivity for sending emails from an alias
    -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />

            <data android:scheme="mailto" />
        </intent>
    </queries>

    <application
        android:name="host.stjin.anonaddy_shared.AnonAddyForAndroid"
        android:allowBackup="false"
        android:exported="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <!-- Widget 1 -->
        <receiver
            android:name=".widget.AliasWidget1Provider"
            android:exported="false"
            android:label="@string/most_active_aliases">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alias_widget_1_info" />
        </receiver>

        <service
            android:name=".widget.AliasWidget1RemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- Widget 1 -->
        <!-- Widget 2 -->
        <receiver
            android:name=".widget.AliasWidget2Provider"
            android:exported="false"
            android:label="@string/aliases_statistics">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alias_widget_2_info" />
        </receiver>

        <service
            android:name=".widget.AliasWidget2RemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".widget.AliasWidget2BottomSheetAddActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent" /> <!-- Widget 2 -->
        <!-- Notification -->
        <receiver android:name=".notifications.ActionReceiver" /> <!-- Notification -->
        <!-- END widget -->
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.alias.manage.ManageAliasActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://*/deactivate” -->

                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- If new URLS are added here, also add them to the webintentmanager -->


                <!-- Self hosted instances (Only work on < SDK31 devices) (Google....sigh...why) -->
                <data
                    android:host="*"
                    android:pathPrefix="/deactivate" />
                <!-- END -->


                <!-- Hosted hosted instances (Works on > SDK31 devices) -->
                <data
                    android:host="app.anonaddy.com"
                    android:pathPrefix="/deactivate" />
                <!-- END -->


                <!-- END -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.intent.IntentContextMenuAliasActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/intent_context_menu"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent">

            <!-- Creating aliases on-the-go -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <data android:scheme="mailto" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <!-- END Creating aliases on-the-go -->
        </activity>
        <activity
            android:name=".ui.faileddeliveries.FailedDeliveriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.logs.LogViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.rules.CreateRuleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.rules.RulesSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.domains.DomainSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usernames.UsernamesSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.recipients.manage.ManageRecipientsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.domains.manage.ManageDomainsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usernames.manage.ManageUsernamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.AppSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.features.AppSettingsFeaturesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.features.AppSettingsFeaturesWatchAliasActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.features.AppSettingsFeaturesMailToActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.features.AppSettingsFeaturesNotifyFailedDeliveriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.features.AppSettingsFeaturesWebIntentResolutionActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.update.AppSettingsUpdateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.wearos.AppSettingsWearOSActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.backup.AppSettingsBackupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.SetupActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Setup">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://*/setup” -->

                <data android:scheme="http" />
                <data android:scheme="https" />

                <!-- If new URLS are added here, also add them to the webintentmanager -->


                <!-- Self hosted instances (Only work on < SDK31 devices) (Google....sigh...why) -->
                <data
                    android:host="*"
                    android:pathPrefix="/setup" />
                <!-- END -->


                <!-- Hosted hosted instances (Works on > SDK31 devices) -->
                <data
                    android:host="app.anonaddy.com"
                    android:pathPrefix="/setup" />

                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.setup.SetupNewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />

        <!-- WEAR OS-->
        <service
            android:name=".service.WearableListener"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPrefix="/requestsetup"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/showLogs"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPrefix="/showAlias"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.appsettings.wearos.SetupWearOSBottomSheetActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:noHistory="true"
            android:theme="@style/AppTheme.Transparent" />
        <!-- END WEAR OS -->
    </application>

</manifest>