<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="host.stjin.anonaddy">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Used for scanning the API key -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="AllowBackup">
        <!-- Widget -->
        <receiver
            android:name=".widget.AliasWidgetProvider"
            android:label="@string/most_active_aliases">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/alias_widget_info" />
        </receiver>
        <!-- Widget -->

        <!-- Notification -->
        <receiver android:name="host.stjin.anonaddy.notifications.ActionReceiver" />
        <!-- Notification-->


        <service
            android:name=".widget.AliasWidgetRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" /> <!-- END widget -->
        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Setup">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.alias.manage.ManageAliasActivity">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs that begin with "https://*/deactivate” -->
                <data
                    android:host="*"
                    android:pathPrefix="/deactivate"
                    android:scheme="https" />
                <!-- note that the leading "/" is required for pathPrefix -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.appsettings.logs.LogViewerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.rules.CreateRuleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.rules.RulesSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.domains.DomainSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usernames.UsernamesSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.search.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.recipients.manage.ManageRecipientsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.domains.manage.ManageDomainsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.usernames.manage.ManageUsernamesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.appsettings.AppSettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.anonaddysettings.AnonAddySettingsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.setup.SetupActivity"
            android:theme="@style/AppTheme.Setup" />
        <activity
            android:name=".ui.setup.SetupNewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.DialogActivity"
            android:label="@string/title_activity_dialog"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.Transparent">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
    </application>

</manifest>